@using BirdFarm.ModelsBD;
@model List<Bird>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Table.css" rel="stylesheet" />
</head>
<body class="back">
    <header class="header_up">
        <a class="logout-button" asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
    </header>
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Bird ID</th>
                <th>Bird Name</th>
                <th>Bird Type</th>
                <th>Age</th>
                <th>Gender</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bird in Model)
            {
                <tr>
                    <td>@bird.BirdID</td>
                    <td>@bird.BirdName</td>
                    <td>@bird.BirdType</td>
                    <td>@bird.Age</td>
                    <td>@bird.Gender</td>
                    <td>
                        <form asp-controller="Admin" asp-action="BirdDeletet" method="get">
                            <input type="hidden" name="id" value="@bird.BirdID" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                    </td>
                    <td>
                        <form asp-controller="Admin" asp-action="EditBirds" method="get">
                            <input type="hidden" name="id" value="@bird.BirdID" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
