@using BirdFarm.ModelsBD;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model List<Egg>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="~/css/Home.css" rel="stylesheet" />
    <link href="~/css/Table.css" rel="stylesheet" />
</head>
<body class="back">
    <header class="header_up">
        <a class="logout-button" asp-area="" asp-controller="Home" asp-action="Logout">Log out</a>
        <a asp-area="" asp-controller="User" asp-action="UserTools">Tools</a>
    </header>
    <br />

    <table>
        <thead>
            <tr>
                <th>Egg ID</th>
                <th>Bird ID</th>
                <th>Egg Type</th>
                <th>Egg Color</th>
                <th>Count Eggs</th>
                <th>Price</th>
                <th></th>
                <th></th>

            </tr>
        </thead>

        @if (Model != null)
        {
            <tbody>
                @foreach (var egg in Model)
                {
                    <tr>
                        <td>@egg.EggID</td>
                        <td>@egg.EggType</td>
                        <td>@egg.EggColor</td>
                        <td>@egg.CountEggs</td>
                        <td>@egg.Price</td>
                        <form asp-controller="User" asp-action="Pay" method="get">
                        <td><input type="text" name="count"/></td>
                        <td>

                            <input type="hidden" name="EggId" value="@egg.EggID" />
                            <input type="hidden" name="CountEggs" value="@egg.CountEggs" />
                                <button type="submit" class="btn btn-primary">Pay</button>
                          
                        </td>
                        </form>
                    </tr>
                }
            </tbody>
        }

    </table>
</body>
</html>